/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f4f841; /* ljusblå-grå bakgrund */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #333;
}
